
name: Flutter Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get dependencies
        run: flutter pub get

      # Correction ici : on cherche le fichier gradlew partout dans le projet
      - name: Make gradlew executable
        run: find . -name "gradlew" -exec chmod +x {} +

      - name: Build APK
        run: flutter build apk --debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: TeVe-App-Fold
          path: "**/*.apk" # Cherche tous les fichiers .apk générés
