name: Flutter Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # Installation de Java 17 (indispensable pour les projets Android récents)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Installation de Flutter
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0' # Version stable recommandée
          channel: 'stable'

      - name: Get dependencies
        run: flutter pub get

      # Cette ligne donne les droits d'exécution pour éviter l'erreur "Permission Denied"
      - name: Make gradlew executable
        run: chmod +x android/gradlew

      - name: Build APK
        run: flutter build apk --debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: TeVe-App-Fold
          path: build/app/outputs/flutter-apk/app-debug.apk
